.cursor/mcp.json
/ios
/android
.wrangler/
.vscode/

node_modules/
package-lock.json

.expo/
dist/
web-build/
expo-env.d.ts
workers/

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

coverage/

app-example

.sentryclirc
