<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwkcbGVHeGPwDNHCpI2nkAtTCP4Zx-PAE</string>
	<key>GCM_SENDER_ID</key>
	<string>503502595311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cafe.tolo.app</string>
	<key>PROJECT_ID</key>
	<string>tolo-cafe</string>
	<key>STORAGE_BUCKET</key>
	<string>tolo-cafe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503502595311:ios:bc92160aa47593ee64671a</string>
</dict>
</plist>