main {
	max-height: 100vh;
	overflow: auto;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 17px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

label,
label b,
label span {
	display: block;
}

label {
	margin-bottom: 10px;
}
